doctype html
html(lang='en')
head
	meta(charset="utf-8")
	title Passport Authentication
	link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css" rel="stylesheet")

body
	block content
	