extends layout

block content

	//- Error comes through via the context passed when calling res.render('login', {...})
	//- You'll see this in controllers/authentication.js
	//- If the error exists, we'll display it.
	if error
		h3= error

	//- Form for handling existing user logins.
	h1 Existing Users
	form(ng-submit="login()")
		input(ng-model="user.username", placeholder="Username")
		input(ng-model="user.password", placeholder="Password")
		input(type="submit")

	//- Form for allowing new users to register.
	h1 Register
	form(ng-submit="addUser()")
		input(ng-model="newUser.username", placeholder="Username")
		input(ng-model="newUser.email", placeholder="Email")
		input(ng-model="newUser.password", placeholder="Password")
		input(type="submit")