//- Display the list of rides returned from the strava api call
h1 Here are the rides you requested:

a(href="https://www.strava.com/api/v3/athletes/:id") Get athletes

//- did we get something back
div {{payload}}