extends layout

block content
	//- Display the list of rides returned from the strava api call
	h1 Here are the rides you requested:

	a(href="https://www.strava.com/api/v3/activities/:id") Get rides

	//- did we get something back
	div 